/* GENERAL */

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

#services, #portfolio {
  padding: 50px;
}

.titre {
  max-width: 700px;
  margin: auto;
}

hr {
  width: 700px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

section p {
  text-align: center;
}

.point {
  border: 5px solid #5cadd3;
  border-radius: 100px;
  width: 1px;
  margin: auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 10px;
}

nav a {
  padding: 20px;
  color: #000;
  text-decoration: none;
}

nav a:hover, nav a.active {
  border-top: 2px solid #5cadd3;
  color: #5cadd3;
}

/* SLIDER */

#slider {
  display: flex;
  align-items: center;
  background: url("../images/slider/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

#slider .titre {
  margin-left: 80px;
}

.titre h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
}

#slider .titre .colorBlue {
  color: #5cadd3;
}

#slider p {
  text-align: left;
  color: #fff;
  margin-bottom: 50px;
  font-size: 1rem;
}

#slider a {
  background-color: #5cadd3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-bottom: 3px solid #4494bb;
  text-decoration: none;
}


.flecheGauche, .flecheDroite {
  color: #fff;
  font-size: 28px;
  background-color: #404146;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.flecheGauche {
  border-radius: 0 50% 50% 0;
}

.flecheDroite {
  border-radius: 50% 0 0 50%;
  margin-left: auto;
}

/* SERVICES */

.service {
  display: flex;
  max-width: 1100px;
  margin: auto;
  padding-top: 50px;
}

.services_image img {
  width: 100%;
  min-width: 100px;
}

.service .icone {
  position: relative;
}

.service .icone .point {
  position: absolute;
  top: 45%;
  right: -5px;
}

.service .icone .fas {
  color: #5cadd3;
  font-size: 28px;
  border: 1px solid grey;
  border-radius: 100px;
  padding: 10px;
}

.texte {
  display: flex;
  align-items: center;
}

.details {
  padding-left: 15px;
}



/* PORTFOLIO */

#portfolio {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio_categories {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.categorie {
  display: inline-block;
  background-color: #e5e5e5;
  padding: 15px;
  text-align: center;
  position: relative;
}

.portfolio_categories a {
  text-decoration: none;
  color: #000;
}

.portfolio_categories .categorie:hover, .portfolio_categories .categorie.active {
  background-color: #5cadd3;
  color: #fff;
  border-bottom: 3px solid #468cad;
}

.flecheBasActive {
  position: absolute;
  top: 65%;
  left: 41%;
  color: #468cad;
  font-size: 28px;
}

.liste_projets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

.item {
  max-width: 340px;
  margin-bottom: 25px;
  position: relative;
}

.item img, .item_full img {
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.item:hover .overlay {
  height: 33%;
}

.text {
  padding: 5px;
  color: white;
}

.text p, .text h4 {
  margin: 0;
}

.text p {
  font-size: 14px;
}

.overlay .icone {
  position: absolute;
  width: 20px;
  top: -20px;
  right: 10%;
  color: #fff;
  background-color: #5cadd3;
  border: 2px solid #fff;
  border-radius: 100px;
  padding: 10px;
}


/* CONTACT */

#contact {
  position: relative;
}

/* #map {
  height: 400px;
  width: 100%;
} */

.contact_form {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 350px;
  padding: 10px;
  background-color: #fff;
  height: auto;
  opacity: 0.8;
  color: #000;
}

.contact_form p, .contact_form h4 {
  margin: 2px;
}

.contact_form h3 {
  font-size: 22px;
}

form {
  margin-top: 15px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #5cadd3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-bottom: 3px solid #4494bb;
}


/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
  }

  nav {
    margin: 50px 0 50px 0;
  }

  #slider .titre {
    max-width: 300px;
  }

  .service {
    flex-direction: column;
    align-items: center;
  }

}


@media screen and (max-width: 600px) {
  header {
    justify-content: center;
  }

  #slider {
    display: none;
  }

  .flecheBasActive {
    top: 73%;
  }

  #contact, .contact_form {
    position: static;
  }

  .contact_form {
    background-color: #C6D4DA;
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
}
